In [2]:
import pandas as pd

df = pd.read_csv('kc_house_data.csv',encoding='latin-1')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

## Задание1
- 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки домаЕсли реновации дома не было, то в новом признаке поставьте 0
- 1.3 Создайте признаки года продажи, месяца продажи
- 1.4 Удалите признаки date, zipcode, lat, long

In [3]:
df["delta_renovated"] = df["yr_renovated"]-df["yr_built"]
def ren(arg:int):
    
    if arg < 0 :
        return 0
    return arg
df['delta_renovated'] = df['delta_renovated'].apply(ren)
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
8278,4035900085,20141117T000000,453000.0,3,1.75,1430,20193,1.0,0,0,...,1430,0,1955,0,98006,47.5619,-122.183,2140,18364,0
16226,5652600427,20150224T000000,420000.0,4,2.00,1700,6375,1.0,0,0,...,850,850,1950,0,98115,47.6973,-122.295,1470,8360,0
431,2944010240,20140908T000000,988000.0,4,3.00,4040,19700,2.0,0,0,...,4040,0,1987,0,98052,47.7205,-122.127,3930,21887,0
15862,8587400050,20150325T000000,710000.0,3,2.75,2210,7660,1.0,0,1,...,1460,750,1968,0,98116,47.5619,-122.400,2110,8750,0
4533,3818700123,20140813T000000,390000.0,3,2.00,2360,5737,2.0,0,0,...,2360,0,2003,0,98028,47.7633,-122.262,1600,9163,0

- 1.3 Создайте признаки года продажи, месяца продажи

In [4]:
year = []
month = []
for i in df['date']:
    if i[:4].isdigit():
           year.append(i[:4])
    if i[4:6].isdigit():
        month.append(i[4:6])         
        
df['year of sale'] = year     
df['month of sale'] = month

- 1.4 Удалите признаки date, zipcode, lat, long

In [92]:
# df.drop(columns=['date','zipcode','lat','long'],inplace=True)
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year of sale,month of sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,02
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509,0,2014,05
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200,0,2015,02
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007,0,2014,06
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287,0,2015,01
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357,0,2014,10

###### 2 задача
- Создайте датафрейм с клиентами:
  clients = pd.DataFrame({
  'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
   939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
   2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
  'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
   1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
   5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
   5083000375, 7920100025, 1951600150, 809001400, 339600110,
   1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
   8861700030, 3303980210, 7731100066, 8146100580, 825069097,
   3889100029, 9524100196]
  })
- 2.1 Присоедините к таблице clients данные по домам через метод join
- 2.2 Присоедините к таблице clients данные по домам через метод merge
  Это нужно, чтобы понимать, какие дома покупались клиентами
  house_id - это индексы датафрейма с домами

In [4]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196] })
client_id = clients.set_index('client_id')
df_id = df.set_index('id')
client_id.join(df_id, how = 'left')

,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20,6306800010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,3123049142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,1788800910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,3995700435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,8965450190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,9510920050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,9524100196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1589,8861700030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,3889100029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1727,8146100580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1764,825069097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2068,8563000110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2134,1622049154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2242,1099600250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260,7731100066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2295,5428000070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2308,1189000207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2765,7137950720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2866,6821600300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3113,809001400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3317,3303980210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3475,7920100025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3498,5104540330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,8100400160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3942,2131701075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4213,1951600150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4236,6131600255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4332,5083000375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4535,1522700060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4684,6823100225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4809,339600110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4929,2768100205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
clients.merge(df, left_on = 'house_id',right_on = 'id')

,client_id,house_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1459,8965450190,8965450190,20150218T000000,295000.0,3,2.50,1500,3060,2.0,...,7,1500,0,1994,0,98006,47.5605,-122.117,2700,7734
1,4684,6823100225,6823100225,20150414T000000,700000.0,4,1.75,1870,6000,1.0,...,8,1670,200,1949,0,98199,47.6435,-122.399,1710,6000
2,3498,5104540330,5104540330,20150508T000000,679000.0,4,2.50,3680,7236,2.0,...,10,3680,0,2006,0,98038,47.3543,-122.005,3310,7180
3,3942,2131701075,2131701075,20141204T000000,420000.0,3,1.75,1720,5000,1.5,...,8,1720,0,1932,2009,98019,47.7380,-121.983,1410,8300
4,4535,1522700060,1522700060,20140624T000000,518000.0,4,2.75,2520,14021,2.0,...,9,2520,0,1999,0,98019,47.7344,-121.957,2330,14007
5,2308,1189000207,1189000207,20141021T000000,387000.0,2,2.50,1170,1394,2.0,...,8,1170,0,2001,0,98122,47.6131,-122.297,1250,3136
6,2866,6821600300,6821600300,20150318T000000,886000.0,3,2.25,2380,6000,2.0,...,9,1650,730,1931,0,98199,47.6472,-122.393,2000,6000
7,2765,7137950720,7137950720,20150304T000000,339100.0,4,2.50,2350,10655,2.0,...,8,2350,0,1992,0,98092,47.3284,-122.171,2210,7028
8,1472,9510920050,9510920050,20140902T000000,725000.0,3,2.50,2980,16996,2.0,...,10,2980,0,1992,0,98075,47.5950,-122.016,2980,15438
9,4236,6131600255,6131600255,20141222T000000,202500.0,3,2.00,1540,8316,1.0,...,6,1540,0,1954,0,98002,47.3230,-122.216,1250,8316
10,2295,5428000070,5428000070,20150511T000000,770000.0,5,3.50,4750,8234,2.0,...,10,3350,1400,2013,0,98198,47.3574,-122.318,2160,14496
11,939,1788800910,1788800910,20141020T000000,190000.0,3,1.00,1200,10458,1.0,...,6,1200,0,1961,0,98023,47.3262,-122.342,1160,9000
12,3840,8100400160,8100400160,20150413T000000,700000.0,3,2.25,2330,11424,2.0,...,8,2330,0,1984,0,98052,47.6386,-122.110,2050,11448
13,280,3123049142,3123049142,20140805T000000,452000.0,3,2.25,2600,14810,1.0,...,8,1490,1110,1956,0,98166,47.4326,-122.341,2450,16715
14,20,6306800010,6306800010,20140811T000000,436472.0,4,2.50,2692,8392,2.0,...,9,2692,0,2014,0,98030,47.3519,-122.197,2574,14446
15,4332,5083000375,5083000375,20141027T000000,170000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,98198,47.4105,-122.295,1330,9529
16,4332,5083000375,5083000375,20150319T000000,235000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,98198,47.4105,-122.295,1330,9529
17,3475,7920100025,7920100025,20150427T000000,450000.0,2,1.00,740,5100,1.0,...,7,740,0,1947,0,98115,47.6787,-122.301,920,5100
18,4213,1951600150,1951600150,20150408T000000,180000.0,3,1.00,1610,8500,1.5,...,7,1610,0,1959,0,98032,47.3717,-122.297,1070,8750
19,3113,809001400,809001400,20140922T000000,925000.0,3,1.00,1630,3200,1.5,...,8,1630,0,1912,0,98109,47.6351,-122.352,1710,3600
20,4809,339600110,339600110,20140923T000000,395000.0,3,2.50,1610,3755,2.0,...,7,1610,0,1987,0,98052,47.6825,-122.097,1300,3823
21,2134,1622049154,1622049154,20141215T000000,289900.0,3,1.75,1899,11325,2.0,...,7,1899,0,1943,2005,98198,47.3987,-122.300,2000,10454
22,2242,1099600250,1099600250,20141202T000000,260000.0,3,1.75,1710,6400,1.0,...,7,1240,470,1976,0,98023,47.3036,-122.377,1600,6400
23,2068,8563000110,8563000110,20150424T000000,427000.0,4,1.75,1460,9750,1.0,...,7,1460,0,1967,0,98008,47.6205,-122.102,1820,9840
24,4929,2768100205,2768100205,20140625T000000,519000.0,4,2.50,1950,2617,1.5,...,7,1250,700,1910,0,98107,47.6696,-122.372,1520,1438
25,1384,3995700435,3995700435,20140702T000000,265000.0,4,3.00,1940,8170,1.0,...,7,1940,0,1948,0,98155,47.7381,-122.302,1310,8169
26,1589,8861700030,8861700030,20141212T000000,510000.0,3,1.50,2400,10275,1.0,...,8,1540,860,1964,0,98052,47.6888,-122.126,2380,10125
27,3317,3303980210,3303980210,20150427T000000,1115000.0,4,3.75,4040,14212,2.0,...,11,4040,0,2002,0,98059,47.5189,-122.147,3940,14212
28,2260,7731100066,7731100066,20140612T000000,545000.0,3,1.00,1510,5000,1.5,...,7,1510,0,1909,0,98105,47.6708,-122.297,1680,4000
29,1727,8146100580,8146100580,20141020T000000,765000.0,3,1.00,1220,7585,1.0,...,7,1220,0,1954,0,98004,47.6094,-122.194,1380,8918
30,1764,825069097,825069097,20140619T000000,770000.0,3,2.50,2650,40705,2.0,...,9,2650,0,1994,0,98053,47.6680,-122.063,2550,42625
31,1611,3889100029,3889100029,20140617T000000,810000.0,3,2.50,2670,10481,2.0,...,9,2670,0,2003,0,98033,47.6673,-122.176,2620,8895
32,1474,9524100196,9524100196,20141117T000000,239000.0,2,1.50,680,772,2.0,...,7,680,0,2005,0,98103,47.6950,-122.343,690,1059

#### Условие 3: 3 задача
#### Составьте несколько сводных таблиц
- 3.1 Найдите среднюю стоимость домов в зависимости от количества спален 
      Отсортируйте от меньшей стоимости к большей
- 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома
- 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и         оценкой вида
- 3.4 Каких домов в зависимости от этажности и количества спален больше?
- 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома       и оценки дома

In [57]:
price = df.pivot_table(index="bedrooms", values = "price" ,aggfunc="mean")
def toFixed(numObj, digits=0):
    return f"{numObj:.{digits}f}"
price["price"] = price['price'].apply(toFixed)
price["price"] = price["price"].astype("int64")
price.sort_values(["price","bedrooms"])

            price
bedrooms
1          317643
2          401373
0          409504
3          466232
11         520000
4          635420
33         640000
5          786600
10         819333
6          825521
9          894000
7          951185
8         1105077

- 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [1]:
svod= df.groupby("condition").agg({'price':['min','mean','max']})

NameError: name 'df' is not defined

- 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [72]:
df.pivot_table(index='grade', columns='view',values='id',aggfunc='count',fill_value= 0)

view      0    1    2    3   4
grade
1         1    0    0    0   0
3         3    0    0    0   0
4        26    2    1    0   0
5       229    2    6    1   4
6      1955   15   42   14  12
7      8556   94  222   78  31
8      5412  110  326  146  74
9      2160   63  189  130  73
10      857   26  102   84  65
11      242   18   59   45  35
12       43    2   13   10  22
13        5    0    3    2   3

- 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [95]:
sort = pd.crosstab(
    index = df['bedrooms'],
    columns =df['floors'],
    margins = True
)
sort

floors      1.0   1.5   2.0  2.5  3.0  3.5    All
bedrooms
0             4     0     6    0    2    1     13
1           162    21    12    1    3    0    199
2          1951   182   497    5  123    2   2760
3          5455   786  3118   56  405    4   9824
4          2383   698  3682   58   61    0   6882
5           605   185   775   23   13    0   1601
6           104    30   119   14    5    0    272
7             9     7    19    2    1    0     38
8             5     1     6    0    0    1     13
9             0     0     4    2    0    0      6
10            1     0     2    0    0    0      3
11            0     0     1    0    0    0      1
33            1     0     0    0    0    0      1
All       10680  1910  8241  161  613    8  21613

- 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [105]:
sort2 = df.pivot_table(
    index = 'condition',
    columns = 'grade',
    values = 'price',
    aggfunc= 'median',
    fill_value= 0
)
sort2

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000,0,150000,190000,255000,403500,932500,0,0,0,0,0
2,0,280000,145000,180000,235000,305000,429000,715000,1752500,0,0,0
3,0,75000,205000,234475,265000,357500,485000,689000,890000,1209500,1807500,2888000
4,0,0,238525,229975,295000,390000,571250,823500,1030000,1685000,2125000,5750000
5,0,262000,0,227450,285475,456000,696000,1078000,1650000,2050000,1990000,0

In [52]:
df["date"]=df['date'].astype('str')
arr

dtype('O')

In [ ]:
w